<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MJ Adendorff's CV</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  </head>
  <body>
    <div class="main">
        <div class="container">
            <div class="heading">
                <h1 class="name">MJ Adendorff</h1>
                <h2 class="subname">Computer Science Grad && Software Engineer</h2>
            </div>
            <div class="buttons">
                <a href="/education" class="box index-box">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <div>Education</div>
                </a>
                <a href="/experience" class="box index-box">
                    <i class="fa-solid fa-file-pen"></i>
                    <div>Experience</div>
                </a>
                <a href="/portfolio" class="box index-box">
                    <i class="fa-solid fa-clipboard"></i>
                    <div>Portfolio</div>
                </a>
                <a href="/skills" class="box index-box">
                    <i class="fa-solid fa-bolt"></i>
                    <div>Skills</div>
                </a>
                <a href="https://github.com/mj-adendorff" class="box index-box">
                    <i class="devicon-github-original"></i>
                    <div>Github</div>
                </a>
            </div>
        </div>
    </div>
  </body>
</html>
